<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="starter">
    <meta charset="UTF-8" />
    <title>ConnectKnowledge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Abel" />

    <!-- Le styles-->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{css/bootstrap-responsive.css}" rel="stylesheet"/>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!-- [if lt IE9]>
        <script th:src="@{js/html5shiv.js}"></script>
    <[endif]-->

</head>
<body>
    <div th:fragment="content" id="topline" class="navbar navbar-fixed-top" th:with="user=${session.user}">
        <div class="navbar-inner">
            <ul class="nav pull-right">
                <li th:if="${user}==null"><a th:href="@{signin.html}">Login</a></li>
                <li th:if="${user}==null" class="active"><a th:href="@{signup.html}">Register</a></li>
                <li class="dropdown" th:if="${user}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="display: inline-block; position: relative; padding: 5px 5px 0px 5px"><img th:src="@{'http://ov2ww7h39.bkt.clouddn.com/' + ${user.userAvatar}}" style="width: 30px;height: 30px; border-radius: 50%; display: inline-block;"/><i style="width: 5px; height: 5px; position: relative; left:3px; top:0px; border-top: 5px solid black; border-bottom: 5px solid transparent; border-left: 5px solid transparent; border-right: 5px solid transparent; font-size: 0;"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">我的主页</a></li>
                        <li><a href="#">收藏的文章</a></li>
                        <li><a href="#">喜欢的文章</a></li>
                        <li><a th:href="@{/setting}">设置</a></li>
                        <li><a th:href="@{/user/logout.do}">退出</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Write essay</a></li>
            </ul>
            <div class="container">
                <a class="brand" href="#">CK</a>
                <div class="navbar-header">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </div>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Download</a></li>
                        <li class="search">
                            <form class="navbar-search">
                                <input type="text" class="search-query" placeholder="Search" />
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{http://code.jquery.com/jquery.js}"></script>
    <script th:src="@{js/bootstrap.js}"></script>
    <!--<script th:src="@{js/bootstrap-tab.js}"></script>-->
    <!--<script th:src="@{js/bootstrap-button.js}"></script>-->
    <!--<script th:src="@{js/bootstrap-collapse.js}"></script>-->
</body>
</html>